WEB_APP_URL=http://127.0.0.1:8000
APP_NAME=Your Desktop App
APP_ORGANIZATION=YourCompany

WEB_APP_ALLOWED_HOSTS=
ALLOW_SUBDOMAINS=false
OPEN_EXTERNAL_LINKS=false
ALLOW_INSECURE_HTTP=false
PERSIST_SESSION=true
ALLOW_DOWNLOADS=false
START_MAXIMIZED=true
WINDOW_WIDTH=1280
WINDOW_HEIGHT=800
PAGE_BACKGROUND_COLOR=#ffffff
